.navbar__Container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5vw;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0;
}
@media (max-width: 50em) {
  .primary__Navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 37%;
    flex-direction: column;
    margin: 0;
    gap: 1rem;
    transform: translateX(100%);
    transition: transform 0.2s ease-out;
    background-color: hsl(0 0% 0% / 0.05);
    backdrop-filter: blur(1rem);
  }

  .mobile__nav__toggle {
    position: absolute;
    background-image: url("/src/img/Assets/list.svg");
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 99999;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    display: block !important;
  }
}

@media (min-width: 35em) {
  .primary__Navigation {
    gap: 2rem;
    padding-block: 1.25rem;
    padding-inline: 10vw;
  }
}

.mobile__nav__toggle[aria-expanded="true"] {
  background-image: url("/src/img/Assets/arrow-bar-right.svg");
}

.primary__Navigation[data-visible="true"] {
  transform: translateX(0%);
}

.mobile__nav__toggle {
  display: none;
}

.n {
  padding-right: 10px;
}

.line {
  width: 47%;
  height: 2px;
  background-color: hsl(0 0% 0% / 0.8);
  backdrop-filter: blur(1rem);
  margin-left: auto;
}
.logo {
  width: 50px;
}

.logo img {
  width: 100%;
}

.navbar__Container ul {
  display: flex;
  justify-content: center;

  margin: 0;
}

.navbar__Container ul li {
  list-style: none;
  padding: 10px;
}

.navbar__Container ul li a {
  text-decoration: none;
  color: #ff5b79;
  transition: 0.5s;
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  cursor: pointer;
  display: inline;
  transition: background-size 0.4s linear;
  background: linear-gradient(90deg, #fff 0, #fff);
  background-size: 0 0.125rem;
  background-repeat: no-repeat;
  background-position: left 98%;
  transition: all 0.2s ease;
}

.navbar__Container ul li a:active {
  color: #fafafa;
  letter-spacing: 2px;
  transition: 0.5s;
  font-weight: bold;
}

.navbar__Container ul li a:hover {
  color: #fafafa;
  letter-spacing: 2px;
  transition: all 0.2s ease;
  background-size: 100% 0.125rem;
}
